/* ./Box.css */


body{
  background-color: #464557;;
}
.box {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px auto;

     
  }
  
  .zoom-image {
    width: 100%;
    height: auto;
  }
  
  .schedule-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .schedule-button:hover {
    background-color: #0056b3;
  }
  