body{
    margin: 0;
    padding: 0;
}



.Nav-container{
width: 100vw;
height: 70px;
border: solid 2px grey;
border-radius: 7px;
box-sizing: border-box;
box-shadow: none;
margin: 0px;
top: 0;
left: 0;
padding: 0;

}